.list {
    width:50%;
    margin: 0 auto;
}
.musicList {
    width:50%;
    margin: 0 auto;
}
.galpara {
    margin-left:250px;
    margin-right:250px;
    font-weight:bold;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.list ul li  ul {
    font-style:italic;
    font-weight:bold;
}

li {
    margin:10px 0;
}

.example {
    margin-left:250px;
    margin-right:250px;
    
}
.blank {
    height:auto;
}

table th, td{
    
    background-color:lightblue;
    border: 10px solid lightseagreen;
    padding:10px;
}
table {
    border-spacing:10px;
}
.piano {
    background-color:lightpink;
    border:10px solid lightcoral;
}